


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="mark">NAMECARD</div>
<div class="namecard">
<h2>李辰致  <span>ChenChih.L</span></h2>
<h5>Network and System QA Engineer</h5>
<hr>
<p>軟體驗證工作，跨部門合作，完用客戶的PNE和Submisssion驗證  </p>
<div class="circle circle1"></div>
<div class="circle circle2"></div>
</div>
<h3 class="page_title">名片  </h3>

</body>
</html>